 /*Opacity denotes how transparent the ement is . 
        It takes value from 0 - 1
        the lower the opacity the more transparent the image is  
        */
 img {
     width: 200px;
     margin-left: 40px;
 }

 .img1 {
     opacity: 0.2;
     /* The image becomes more transparent with lower value 
            As default the value is 1 */
 }