 /* ---------------------------------------------------------------------------Combinator Selectors------------------------------------------------------------ */


 div p {
     /*(Descendant Selector)       this is used to select the descendant of the element   ,   here it selects all descendant p of div      , i.e selects all the child grandchild and so on too*/
     color: green;
 }

 main>div {
     /*Child selector             This only selects the direct child div of main*/
     color: bisque;
 }

 span+button {
     /*Adjacent Selector            This is used to select element that is directly after specific element and sibling must have same parent , here the button that is right  after span is selected*/
     background-color: red;
 }

 nav~h3 {
     /*General sibling selector       This is used to select all specified element that is after the given specifed element and they must have same parent           , here it selects all the h2 that are after nav */
     background-color: blue;
 }